:root {
    --gap: 20px;
}

body {
    margin: 0px;
}

@keyframes pan {
    0% {
        background-position: 0px 0%;
    }

    100% {
        background-position: 2000px 0%;
    }
}

div.background {
    background: rgb(114, 9, 183);
    background: linear-gradient(90deg, rgba(114, 9, 183, 1) 0%, rgba(42, 13, 174, 1) 50%, rgba(114, 9, 183, 1) 100%);
    background-size: 2000px 2000px;
    width: 100vw;
    height: 100vh;
    animation: pan 30s linear infinite;
}

div.main-grid {
    padding: var(--gap);
    display: grid;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    gap: var(--gap);
    grid-template-areas:
        "links dice temp"
        "links countdown countdown"
        "links countdown countdown";
    grid-template-columns: 6fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

div.container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

div.grid {
    display: grid;
    width: 100%;
    height: 100%;
    gap: var(--gap);
}

div.link-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    .item {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 20px;

        background: rgba(0, 0, 0, 0.05);
        margin: 5px;

        transition: 0.4s linear;

        img {
            height: 50px;
        }

        p {
            font-family: 'Nunito', 'Courier New', Courier, monospace;
            color: hsl(0, 0%, 80%);
            font-size: 20px;
            font-weight: bold;
            margin: 5px;
            box-sizing: border-box;
            text-decoration: none !important;
        }
    }

    /* .item:has(img) p {
        bottom: 10px;
    } */

    .item:hover {
        background: rgba(0, 0, 0, 0.2);
        transform: scale(1.05, 1.05);

        p {
            text-decoration: none;
        }
    }
}

p {
    font-family: 'Nunito', 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 80%);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

div.dice-container {
    grid-area: dice;
    grid-template-areas:
        'dice1 dice2 empty'
        'dice1 dice2 total'
        'dice1 dice2 roll'
        'dice1 dice2 empty1';
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    place-items: center;
    gap: 0px;

    p {
        grid-area: total;
        font-size: 50px;
    }

    input {
        grid-area: roll;
        font-family: 'Nunito', 'Courier New', Courier, monospace;
        background: hsla(195, 82%, 30%, 0.8);
        border: none;
        border-radius: 8px;
        color: hsl(0, 0%, 80%);
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
        text-decoration: none;
        transition: 0.1s linear;
    }

    input:hover {
        background: hsla(195, 83%, 23%, 0.8);
    }
}

div.countdown-container {
    grid-area: countdown;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    align-items: stretch;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;

    div.countdown {
        border-radius: 20px;
        background: #00000033;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .countdown-label {
            font-weight: normal;
        }

        .countdown-time {
            font-size: 40px;
        }
    }


}

/* div.calculator-container {
    grid-area: calculator;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    place-items: center;
    padding: 20px;
    box-sizing: border-box;

    div.calculator-result {
        background: rgba(0, 0, 0, 1);
        border-radius: 20px;
        padding: 10px 20px 10px 0px;
        width: 100%;
        box-sizing: border-box;

        p {
            font-family: 'Nunito', 'Courier New', Courier, monospace;
            text-align: right;
        }

        p.previous-answer {
            font-size: 20px;
            font-weight: normal;
        }

        p.answer {
            font-size: 50px;
        }
    }

    div.calculator-buttons {
        gap: 0px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
} */