:root {
    --var-alpha: 0.9;
    --bright-pink-crayola: hsla(346, 84%, 61%, var(--var-alpha));
    --coral: hsla(14, 90%, 69%, var(--var-alpha));
    --sunglow: hsla(42, 100%, 70%, var(--var-alpha));
    --emerald: hsla(164, 95%, 43%, var(--var-alpha));
    --blue-ncs: hsla(195, 83%, 38%, var(--var-alpha));
    --midnight-green: hsla(195, 83%, 20%, var(--var-alpha));
    --dice-size: 100px;
}

.cube {
    transform-style: preserve-3d;
    width: var(--dice-size);
    height: var(--dice-size);
    z-index: 10;

    transform: rotateX(0deg) rotateY(0deg);

    transition: transform 0.5s linear;
}

.side {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10%;

    display: grid;
    place-items: center;
}

.front.side {
    background-color: var(--bright-pink-crayola);
    transform: translateZ(calc(var(--dice-size) / 2));
}

.back.side {
    background-color: var(--coral);
    transform: translateZ(calc(var(--dice-size) / -2));
}

.left.side {
    background-color: var(--sunglow);
    transform: translateX(calc(var(--dice-size) / -2)) rotateY(-90deg);
}

.right.side {
    background-color: var(--emerald);
    transform: translateX(calc(var(--dice-size) / 2)) rotateY(90deg);
}

.top.side {
    background-color: var(--blue-ncs);
    transform: translateY(calc(var(--dice-size) / -2)) rotateX(90deg);
}

.bottom.side {
    background-color: var(--midnight-green);
    transform: translateY(calc(var(--dice-size) / 2)) rotateX(-90deg);
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
}

.dot {
    width: 17px;
    height: 17px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dice:has(> :last-child:nth-child(1)) .dot {
    top: 50%;
    left: 50%;
}

.dice:has(> :last-child:nth-child(6)) .dot:nth-child(1) {
    top: 25%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(6)) .dot:nth-child(2) {
    top: 25%;
    left: 50%;
}

.dice:has(> :last-child:nth-child(6)) .dot:nth-child(3) {
    top: 25%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(6)) .dot:nth-child(4) {
    top: 75%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(6)) .dot:nth-child(5) {
    top: 75%;
    left: 50%;
}

.dice:has(> :last-child:nth-child(6)) .dot:nth-child(6) {
    top: 75%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(2)) .dot:nth-child(1) {
    top: 25%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(2)) .dot:nth-child(2) {
    top: 75%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(5)) .dot:nth-child(1) {
    top: 25%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(5)) .dot:nth-child(2) {
    top: 25%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(5)) .dot:nth-child(3) {
    top: 75%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(5)) .dot:nth-child(4) {
    top: 75%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(5)) .dot:nth-child(5) {
    top: 50%;
    left: 50%;
}

.dice:has(> :last-child:nth-child(4)) .dot:nth-child(1) {
    top: 25%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(4)) .dot:nth-child(2) {
    top: 25%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(4)) .dot:nth-child(3) {
    top: 75%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(4)) .dot:nth-child(4) {
    top: 75%;
    left: 75%;
}

.dice:has(> :last-child:nth-child(3)) .dot:nth-child(1) {
    top: 25%;
    left: 25%;
}

.dice:has(> :last-child:nth-child(3)) .dot:nth-child(2) {
    top: 50%;
    left: 50%;
}

.dice:has(> :last-child:nth-child(3)) .dot:nth-child(3) {
    top: 75%;
    left: 75%;
}